/*
* Primero se aplica los estilos a los elementos mas generales
y luego a los mas especificos
* En el body, se debe declar siempre la fuente en px (Ya luego puedo hacerlo en em)


*Una caja es cualquier objeto en html, que envuelva a otro y que le permita tener
margenes y permita flotar

+inline: Texto se mezcla con la imagen
+Block: No pueden tener nada encima. Tddo lo que tengo en frente, cae abajo
+Inline-block permite que los bloques tengan margenes y tener cosas al lado pegadas
+ 1em=una letra M (Esto deben de como haya declarado la fuente en el body, para
este caso, el em toda el valor de 19px)
+Diseñar todo en em o % para que todos los valores se pueda ajustar con solo cambiar
el valor de la fuente en el body.
+ Un LI es una caja por defecto
*/


/*Inicio declaracion ICOFONTS*/

@font-face {
  font-family: 'icomoon';
  src:url('../fuentes/icomoon.eot?yz0b8j');
  src:url('../fuentes/icomoon.eot?#iefixyz0b8j') format('embedded-opentype'),
    url('../fuentes/icomoon.woff?yz0b8j') format('woff'),
    url('../fuentes/icomoon.ttf?yz0b8j') format('truetype'),
    url('../fuentes/icomoon.svg?yz0b8j#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-estrella:before {
  content: "\f005"; 
  color: #ffbe2c;
  margin-right: 0.4em;
  position: relative;
  top: 0.1em 

}

.icon-lapiz:before {
  content: "\f040";
  margin-right: 0.3em;


}

.icon-comentarios:before {
  content: "\f086";

}

.icon-flecha-abajo:before {
  content: "\f0d7";
  color: #dd4f24;

}

.icon-flecha-arriba:before {
  content: "\f0d8";
  color: #22bce0;

}

/*Fin declaracion ICOFONTS*/



a{
  color:#22bce0;
}
body
{
  background: #eee;
  font-family: "Open Sans";
  font-size: 16px;
}
footer
{
  color: rgba(255,255,255,0.7);
  background:#22bce0;
  text-align: center;
  padding: 1.5em;
  
}

footer p:first-child{ /*PSEUDOCLASE hace que la eqtiqueta <p> se convierta en padre 
(representa cualquier elemento que sea el primer elemento hijo del elemento padre.)*/
  color:#fff;
  margin-bottom: 0;
 
}

footer p:last-child{ /*PSEUDOCLASE representa cualquier elemento que es el 
  último hijo de un elemento padre.*/
  margin-top: 0;

}

footer p:last-child:before{ /*Guiones de Mejorando.la*/
  content:"-"
}
footer p:last-child:after{ /*Guiones de Mejorando.la*/
  content:"-"
}

header
{
  background: #344B54;
  color: #fff;
  overflow: hidden; /*Permite que como dentre en el head*/
  padding: 0.5em;
  position: relative;
}
header figure
{
  float: left;
}
header h1
{
  font-size: 1.2em;
  font-weight: normal;
  margin: 0.2em 70px 0 0;
}
header #avatar
{
  margin: 0.5em 0.5em 0 0;
  position: absolute;
  right: 0;
  top: 0;

}
header #logo{
  border-right: 1px solid white; /*Creo la raya blanca al lado del logo*/
   margin-right: 0.5em;
} 
header #logo img
{
  margin-right: 0.5em;
  padding-right: 0.5em;
  width: 52px;
  -webkit-transition:.5s;
  -moz-transition:.5s;
}

header #logo img:hover{
  -webkit-transform:rotate(360deg); /*Chrome*/
  -moz-transform:rotate(360deg); /*Firefox*/
  -o-transform:rotate(360deg); /*Opera*/
  -ms-transform:rotate(360deg); /*Explorer*/
}

header #avatar img
{
  border-radius: 50%; /*Al dar radio a la mita del ancho queda toda en circulo*/
  width: 55px;
}

 
nav
{
  background: #80bca3;
  padding: 0 6em 0 0;
  position: relative;
}

nav ul
{
  list-style: none; /*Quita los puntos de la lista*/
  margin: 0;
  padding: 0;
}

nav ul #publicar_nav
{

  position: absolute;
  right: 0;
  top: -0.2em;
  
}

nav ul #publicar_nav a
{
  background: #22bce0;
  border-radius: 5px;
  box-shadow: rgba(0,0,0,0.5) 5px 5px 20px; /*Sombra para la caja del boton azul*/
  font-style: italic;
  padding: 0.9em 0.5em;
  text-decoration: none; /*Quita el subrayado del enlace*/
  text-shadow:rgba(0,0,0,0.5) 2px 2px 5px; /*Sombra para el texto del boton azul*/
}



nav ul li a:hover{
  background: #344B54;

}



nav ul li
{
  display: inline-block; /*Las cajas (cada nombre) queda en posicion horizontal*/
  margin: 0 1em 0 0;
}

nav ul li a
{
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 0.5em; /*Se pone para que toda el area de a quede clickeable*/
  -webkit-transition: .3s;/*Animando el hover del menu*/
  -moz-transition: .3s;
}

aside{ /*Seccion naranja dentro del aside. Se visualiza despues de 1000px al lado derecho*/
  width: 320px;
  height: 240px;
  background: orange;
  display: none;
}

#contenido{
  margin: 1em;
}

#contenido .item{
  background: #fff;
  border-bottom: 3px solid #22bce0;
  margin-bottom: 3em;
  min-height: 128px; /*Altura minima para que la imagen no desborde del item*/
  position: relative;
}

#contenido .item .autor_item
{
  color: #aaa;
}

#contenido .item .datos_item
{
  margin: 1em 1em 0 0;
  text-align: right;
}

#contenido .item .datos_item .fecha_item
{
  color: #aaa;
}

#contenido .item .datos_item .tag_item
{
  background: #f4502a;
  border-radius: 0.5em;
  color: #fff;
  display: inline-block;
  float: left;
  padding: 0.2em 0.5em;
  text-decoration: none;

}

#contenido .item .titulo
{
  font-size: 1.2em;
  font-style: italic;
  padding-top:1em; 
}
#contenido .item .titulo a
{
  color: #444;
  text-decoration: none;
}

#contenido .item .imagen_item img{
  float: left; /*Imagen este siempre a la izquierda*/
  margin: 0 15px 0 0;
}

#contenido .item .imagen_item img{
  width: 96px; /*Reduciendo la imagen a la mitad para visualizar en retina*/

}

#contenido .item .votacion
{
  background: #fff;
  border-radius: 0 0 0.5em 0.5em;
  left: 4%;
  margin-top: 3px;
  padding: 0.2em 0.5em;
  position: absolute;
  top: 100%;
  width: 90%;

}
#contenido .item .votacion a{
  text-decoration: none;
}
#contenido .item .votacion .comentarios_item,
#contenido .item .votacion .guardar_item
{
  float: right;
}

/*Formulario*/

.formulario{
  padding: 1em;
  text-align: right;
  display: none;
}

.formulario input{
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0.2em 0.6em;
}

.formulario input[type="submit"]{
  background: #22bce0;
  border-color: #22bce0;
  box-shadow: rgba(0,0,0,0.5) 5px 5px 20px; /*Sombra para la caja del boton azul*/
  color: #fff;
  font-style: italic;
  text-shadow:rgba(0,0,0,0.5) 2px 2px 5px; /*Sombra para el texto del boton azul*/
}



@media screen and (min-width: 800px){
  #contenido{
    overflow: hidden; /*Lo aplico porque a la clase de abajo un float:Left*/
  }
  #contenido .item { /*Pongo el elemento a 2 columnas*/
    float: left;
    width: 49%;
    
  }
  
  #contenido .item:nth-child(odd){ /*Doy un margen para separ los contenedores*/
      margin-right: 2%;
    }

}


@media screen and (min-width: 1000px){
  aside{
    display: block;
    float: right;
    margin: 1em;
    width: 20%;
  }

}






















